.App {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.main-container {
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input {
  max-width: 100px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}
